<!DOCTYPE html>
<html>
<head>
    <title>Class Average</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📊 Class Average</h1>

    <form method="POST">

        <input
            type="text"
            name="subject"
            placeholder="Enter Subject Name"
            required
        >

        <br><br>

        <button type="submit">
            Find Average
        </button>

    </form>

    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}

    {% if average is not none %}

        <h2>📊 Average Marks</h2>

        <p><b>Subject:</b> {{ subject }}</p>

        <p><b>Average Marks:</b> {{ average }}</p>

    {% endif %}

    <br><br>

    <a href="/">
        <button>🏠 Back to Home</button>
    </a>

</div>

</body>
</html>